#map-canvas {
    height: 100%;
    width: 100%;
    position:absolute;
/*    top: 500px;
left: 200px;*/
z-index: -1;
}

#input {
    /*width:525px;*/
    font-size: 14px;
    /*font-style: italic;*/
    font-weight: bold;
    bottom: 2%;
    left: 5%;
    background-color: rgba(255, 255, 255, 1);
}

#trip-box {
    /*width: 300px;*/
    height: 40%;
    overflow-y: scroll;
    font-size: 14px;
    top: 5%;
    right:1%;
    background-color: rgba(255, 255, 255, .75);


}
#data-box {
    /*width:425px;*/
    /*height:40%;*/
    line-height: 0px;
    bottom:2%;
    right:2%;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .75);

}

.style {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin:auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.style-upper-right {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin:auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    /*top:-400px;*/
    /*height:20px;*/
    bottom: 2%;
    left: 5%;
    width: 90%;
    background-color: rgba(255, 255, 255, 1);
}

.table {
 border-collapse: collapse;
}

.table td {
 padding: .2em;
}

.header {
    text-align: center;
    border-bottom-style: solid;
    /*border-top-style: solid;*/
    
}

.button:hover
{
    background-image:none;
    background-color:#ff00ff;
}

th{
   border: 1px solid black;
}

td {
    text-align: center;
}
/*body, a:hover {*/
    /*    cursor: url(http://ani.cursors-4u.net/toons/too-12/too1137.cur), progress !important;*/
}

body {
    margin:  0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

ol li {
    opacity: 0.5;
}

ol li:hover {
    opacity: 1 !important;
}


.topcol {
  position: absolute;
  color: none;
  width: 100%;
}

.topleft {
  width            : 100%;
  overflow         : hidden;
}

.Row
{
display: table;
width: 100%; 
table-layout: fixed;  
border-spacing: 10px;  
}

.Column
{
display: table-cell;
background-color: ; 
}

.chart {
background: none;
margin: 5px;
}

.chart rect {
stroke: none;
fill: #cc99ff;
}

.chart text {
fill: white;
}

.chart text .name {
fill: white;
}

.chart line {
stroke: #c1c1c1;
}

.chart .rule {
fill: white;
}

/* removed the while stroke as we don't need it anymore */
#step-5 .chart rect {
stroke: none;
}

/* a bit of hovering effect for each bar */
#step-5 .chart rect:hover {
fill: #64707D;
}




text {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: whi;
shape-rendering: crispEdges;
}

form {
position: absolute;
left: 10px;
top: 5px;
}

.axis path,
.axis line {
fill: none;
stroke: #09C;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
font-size: 11px;
}


/*Control Panel*/

.ui-slider   {
    height: 6px;
    width: 200px;
    padding-left: 0px; //add this
}

.ui-slider  .ui-slider-handle   {
    height: 15px;
    width: 15px;
    padding-left: 0px; //add this
}


rect {
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-o-transition: all 0.3s;
transition: all 0.3s;
}
rect:hover{
fill: orange;
}


